<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ticket de Compra</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .ticket {
      border: 1px solid #ccc;
      padding: 20px;
      max-width: 600px;
      margin: 0 auto;
    }
    h1, h2 {
      color: #333;
    }
    p, ul {
      color: #555;
    }
  </style>
</head>
<body>
  <div class="ticket">
    <h1>Ticket de Compra</h1>
    <p><strong>Código del Ticket:</strong> {{ticket.code}}</p>
    <p><strong>Fecha de Compra:</strong> {{ticket.purchase_datetime}}</p>
    <p><strong>Comprador:</strong> {{ticket.purchaserDetails.name}} ({{ticket.purchaserDetails.email}})</p>
    <p><strong>Total de la Compra:</strong> ${{ticket.amount}}</p>

    <h2>Productos Comprados</h2>
    <ul>
      {{#each ticket.products}}
      <li>
        <p><strong>Producto:</strong> {{this.product}}</p>
        <p><strong>Cantidad:</strong> {{this.productQuantity}}</p>
        <p><strong>Total:</strong> ${{this.productTotal}}</p>
      </li>
      {{/each}}
    </ul>
    <h3>¡Muchas gracias por su compra!</h3>
    <p>Contáctese con el vendedor para coordinar el pago y la entrega de su compra.</p>

    <h4>¡Hasta la próxima!</h4>
    <br>
    <a href="https://entregas-backend-luduena-production.up.railway.app/products">Volver a inicio</a>
  </div>
</body>
</html>
